<div class="navbar nav-main navbar-expand-lg navbar-light px-2 px-lg-5 fixed-top bg-white ">
  <%# <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" style="height:40px; margin-right: 5px;"/> %>
  <a class="nav-link-main" href="<%= root_path %>">
     Home
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end w-100" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link-min nav-link-one" href="<%= about_path %>"> About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link-min nav-link-one " href="<%= resume_path %>"> Resume</a>
      </li>
       <li class="nav-item">
        <a class="nav-link-min nav-link-one " href="<%= project_path %>">Projects & Products</a>
      </li>
       <li class="nav-item">
        <a class="nav-link-min nav-link-one " href="<%= education_path %>">Education</a>
      </li>
      <li class="nav-item">
        <a class="nav-link-min nav-link-two " href="<%= contact_path %>"> Contact</a>
      </li>
    </ul>
      </div>
</div>
