<div class="wrapper" data-controller="homepage">

  <div class="bck-light-grey p-3 bg-success">
    <div class="container overlay h-100 w-100 text-center mt-3 mt-lg-5 pt-5", id="homepage-main-greet">
    <%# <div class="card"> %>
      <div class="container mb-5">
        <div class="row d-flex justify-content-center">
          <div class="col-12 col-lg-6 text-center">
             <img src= "https://res.cloudinary.com/dekvy8qc4/image/upload/v1605004464/Leena2_kpd19g.webp", height="300", width="300">
           </div>
            <div class="col-12 col-lg-6 d-flex flex-column justify-content-between">
             <div class="mt-3 mt-lg-0 text-center text-lg-left">
               <h2><b>More About You!</b></h2>
               <p> Express yourself! </p>
             </div>
            </div>
        </div>
    </div>
  </div>
</div>


<div class="container text-center p-3 mt-5", id="homepage-main-container">
  <h1 class="mb-4" id="projects"><b>Projects, done in the last month!</b></h1>
  <%# <p class="mb-0">Short description about the projects.</p> %>
</div>

<div class="px-5 mb-5 pb-5">
  <div class="row justify-content-center">
    <div class="info-card m-4 col-12 col-lg-3">
    <%# <img class="viewbot" src="<%= cl_image_path application.photo.key, height: 300, width: 400, crop: :fill" alt="Card image cap"> %> 
    <img src= "https://res.cloudinary.com/dekvy8qc4/image/upload/v1605000114/Superhero_iwb0py.jpg", height="200", width="300">
      <h4><b>Superhuman</b></h4>
      <p>Rent a superhero, achieve the impossible!</p>
      <div class="row">
      <div class="col-6">
      <a class="button medium-btn mb-2" target= "_blank" href="https://superhumann.herokuapp.com/">Visit Website</a>
      </div>
      <div class="col-6">
      <a class="button medium-btn mb-2" href="<%= superhuman_path %>" target="_blank"> Case Study</a>
      </div>
      </div>
    </div>

    <div class="info-card m-4 col-12 col-lg-3">
   <%# <%= cl_image_tag("https://res.cloudinary.com/dekvy8qc4/image/upload/v1605001218/viewbot2_pxxyo1.jpg", width: 300, height: 300, crop: :fill) %>
      <img src= "https://res.cloudinary.com/dekvy8qc4/image/upload/v1605000114/viewbot_hgdycy.jpg", height="200", width="300">
      <h4><b>Viewbot</b></h4>
      <p>Instantly act upon your application reviews from AppStore and GooglePlay!</p>
      <div class="row">
      <div class="col-6">
      <a class="button medium-btn mb-2" target= "_blank" href="https://viewbot-app.herokuapp.com/"> Visit Website</a>
      </div>
      <div class="col-6">
      <a class="button medium-btn mb-2" href="<%= viewbot_path %>" target="_blank"> Study Case</a>
      </div>
      </div>
    </div>

    <div class="info-card m-4 col-12 col-lg-3">
     <%# <%= cl_image_tag("https://res.cloudinary.com/dekvy8qc4/image/upload/v1603360327/6bdo34nklxihugk9xv6ueo8vwesb.jpg", width: 300, height: 300, crop: :fill) %>
       <img src= "https://res.cloudinary.com/dekvy8qc4/image/upload/v1605000114/cocktails2_dns6qh.jpg", height="200", width="300">
      <h4><b>Mr Cocktail</b></h4>
      <p>Fancy a cocktail, create your favourite recipe!</p>
      <div class="row">
      <div class="col-6">
      <a class="button medium-btn mb-2" target= "_blank" href="https://dry-citadel-76250.herokuapp.com/cocktails"> Visit Website</a>
      </div>
      <div class="col-6">
      <a class="button medium-btn mb-2" href="<%= cocktail_path %>" target="_blank"> Study Case</a>
      </div>
      </div>
    </div>

  </div>
</div>
