<div class="wrapper" data-controller="homepage">

<div class="bck-light-grey p-3 bg-success">
  <div class="container overlay h-100 w-100 text-center mt-3 mt-lg-5 pt-5", id="homepage-main-greet">
    <h1 class='mb-4 text-white pt-5' ><b>Your Name!</b></h1>
    <p class="mb-4 text-white pt-3 pb-1">Short personal description!</p>
    </div>
  </div>


<div class="container text-center p-3 mt-5", id="homepage-main-container">
  <h1 class="mb-4" id="projects"><b>Project section!</b></h1>
  <p class="mb-0">Short description about the projects.</p>
</div>

<div class="px-5 mb-5 pb-5">
  <div class="row justify-content-center">
    <div class="info-card m-4 col-12 col-lg-3">
    <%= image_tag "https://www.projectsmart.co.uk/img/project.png", class: "info-card-img mb-4" %>
      <h4><b>Project 1</b></h4>
      <p>Project 1 description</p>
      <a class="btn btn-lg-rounded-primary mb-2" target= "_blank" href="#"> Project</a>
      <a class="btn btn-lg-rounded-primary mb-2" href="<%= case_study_path %>" target="_blank"> Study Case</a>
    </div>

    <div class="info-card m-4 col-12 col-lg-3">
    <%= image_tag "https://www.projectsmart.co.uk/img/project.png", class: "info-card-img mb-4" %>
      <h4><b>Project 2</b></h4>
      <p>Project 2 description</p>
      <a class="btn btn-lg-rounded-primary mb-2" target= "_blank" href="#"> Project</a>
      <a class="btn btn-lg-rounded-primary mb-2" href="<%= case_study_path %>" target="_blank"> Study Case</a>
    </div>

    <div class="info-card m-4 col-12 col-lg-3">
    <%= image_tag "https://www.projectsmart.co.uk/img/project.png", class: "info-card-img mb-4" %>
      <h4><b>Project 3</b></h4>
      <p>Project 3 description</p>
      <a class="btn btn-lg-rounded-primary mb-2" target= "_blank" href="#"> Project</a>
      <a class="btn btn-lg-rounded-primary mb-2" href="<%= case_study_path %>" target="_blank"> Study Case</a>
    </div>

  </div>
</div>
