<div class="wrapper" data-controller="homepage">

  <div class="bck-light-grey p-3 bg-success">
    <div class="container overlay h-100 w-100 text-center mt-3 mt-lg-5 pt-5", id="homepage-main-greet">
    <%# <div class="card"> %>
      <div class="container mb-5">
        <div class="row d-flex justify-content-center">
          <div class="col-12 col-lg-6 text-center">
             <img src= "https://res.cloudinary.com/dekvy8qc4/image/upload/v1605004464/Leena2_kpd19g.webp", height="300", width="300">
           </div>
            <div class="col-12 col-lg-6 d-flex flex-column justify-content-between">
             <div class="mt-3 mt-lg-0 text-center text-lg-left">
               <h2><b>Leena Khalili, MBA, PMP, CSM</b></h2>
               <p>Product Manager / Technical Project Manager (Agile)</p>
               <p> 

Technical project manager with 10+ years of experience discovering, executing and delivering software (SaaS, PaaS), mobile and web products.

Expert level knowledge of Agile methodology (SCRUM, KANBAN) and SDLC. Expert level knowledge of product management tools such as Jira, Confluence and Trello.

Worked for international companies such as (IBM, Oracle and CISCO), thus exposed to global networking opportunities,  international trainings and innovative technologies. Able to adapt depending on product needs, can act as a product manager, project manager, SCRUM master, product owner.

Experienced with IBM DevOps approach to agile software development that developers and operations teams use to build, test, deploy and monitor applications with speed, quality and control.

Common use cases include: cloud-native and mobile applications, application integration, and multicloud management.

Long experience working with graphic designers and developers using Adobe xD, Java, API's, integration technologies and SQL.

Experienced in interviewing customers, collecting requirements, creating product wireframes (using Balsamiq) and user flows (using LucidCharts).

Lifelong learner - constantly acquiring technical skills via Coursera and Udemy and improving communication and leadership skills at networking events.

 

 

 

 

 

 

 

 "Worked with Leena on a BPM/DMS project , Leena is very driven, diligent and professional in both her technical and Project Management skills and would be an asset in any major project"  Paul Baker, Deputy Group Head of Operations at Bank ABC.

"I have worked together with Leena on several Key Customer engagements. Her customer focus and technical brilliance was a great value add in those engagements. Leena is also highly respected among her peers for her skills in account management, professionalism and dedication to customer success." Raji Thomas, Solution Consultant at IBM

 

"Leena is a very organized and very determined person, she always eager to explore new areas in business and technical tracks and the most important is that she always proofs her skills and capabilities. Leena proved her skills as a professional business analyst and handled some complex project covering the different phases of the project. I really enjoyed working with Leena, and will be lucky to work with her again." Amr Abdellatif, Senior Digital Project Manager at LPS New Zeland

 
</p>
             </div>
            </div>
        </div>
    </div>
  </div>
</div>


<div class="container text-center p-3 mt-5", id="homepage-main-container">
  <h1 class="mb-4" id="projects"><b>Projects, done in the last month!</b></h1>
  <%# <p class="mb-0">Short description about the projects.</p> %>
</div>

<div class="px-5 mb-5 pb-5">
  <div class="row justify-content-center">
    <div class="info-card m-4 col-12 col-lg-3">
    <%# <img class="viewbot" src="<%= cl_image_path application.photo.key, height: 300, width: 400, crop: :fill" alt="Card image cap"> %> 
    <img src= "https://res.cloudinary.com/dekvy8qc4/image/upload/v1605000114/Superhero_iwb0py.jpg", height="200", width="300">
      <h4><b>Superhuman</b></h4>
      <p>Rent a superhero, achieve the impossible!</p>
      <div class="row">
      <div class="col-6">
      <a class="button medium-btn mb-2" target= "_blank" href="https://superhumann.herokuapp.com/">Visit Website</a>
      </div>
      <div class="col-6">
      <a class="button medium-btn mb-2" href="<%= superhuman_path %>" target="_blank"> Case Study</a>
      </div>
      </div>
    </div>

    <div class="info-card m-4 col-12 col-lg-3">
   <%# <%= cl_image_tag("https://res.cloudinary.com/dekvy8qc4/image/upload/v1605001218/viewbot2_pxxyo1.jpg", width: 300, height: 300, crop: :fill) %>
      <img src= "https://res.cloudinary.com/dekvy8qc4/image/upload/v1605000114/viewbot_hgdycy.jpg", height="200", width="300">
      <h4><b>Viewbot</b></h4>
      <p>Instantly act upon your application reviews from AppStore and GooglePlay!</p>
      <div class="row">
      <div class="col-6">
      <a class="button medium-btn mb-2" target= "_blank" href="https://viewbot-app.herokuapp.com/"> Visit Website</a>
      </div>
      <div class="col-6">
      <a class="button medium-btn mb-2" href="<%= viewbot_path %>" target="_blank"> Study Case</a>
      </div>
      </div>
    </div>

    <div class="info-card m-4 col-12 col-lg-3">
     <%# <%= cl_image_tag("https://res.cloudinary.com/dekvy8qc4/image/upload/v1603360327/6bdo34nklxihugk9xv6ueo8vwesb.jpg", width: 300, height: 300, crop: :fill) %>
       <img src= "https://res.cloudinary.com/dekvy8qc4/image/upload/v1605000114/cocktails2_dns6qh.jpg", height="200", width="300">
      <h4><b>Mr Cocktail</b></h4>
      <p>Fancy a cocktail, create your favourite recipe!</p>
      <div class="row">
      <div class="col-6">
      <a class="button medium-btn mb-2" target= "_blank" href="https://dry-citadel-76250.herokuapp.com/cocktails"> Visit Website</a>
      </div>
      <div class="col-6">
      <a class="button medium-btn mb-2" href="<%= cocktail_path %>" target="_blank"> Study Case</a>
      </div>
      </div>
    </div>

  </div>
</div>
