<div class="pt-5 pb-4 mt-5" style="background: #F4F4F4">
  <div class="container">
    <div class="row" id="reviewcard2">
       <div class="col-3" id="imgg2">
       <img src= "https://res.cloudinary.com/dekvy8qc4/image/upload/v1605075183/cisco_logo_t2r6w1.jpg", height="51", width="91">
       </div>
        <div class="col-9" id="textt2">
       
        <p><b>SERVICE DELIVERY MANAGER | CISCO - Remote Jan 2019 - March 2020 </b></p>
        <p>Networking (IaaS), Security (IaaS, PaaS and SaaS), App and Workload Management (PaaS & SaaS)</p>
      </div>
    </div>
    <div class="listingcontent">
         <ul>
            <li>Leading, managing, monitoring, and delivering strategic projects and programs.</li>
            <li>Creating, improving and excuting processes for project intake, version control and delivery.</li>
            <li>Working with customers to discover and finalize project requirements and project scope.</li>
            <li>Coordinating joint releases, creating content regarding product value proposition.</li>
            <li>Working with DevOps to develop product release (alpha, beta, full), rollback, and delivery processes.</li>
            <li>Working with customers to define and document product rollout activities and timelines.</li>
            <li>Coordinating cross-functional teams, building project plans, defining scope, release, and QA plans.</li>
            <li>Leading discovery, execution, and deployment of IaaS/PaaS projects.</li>
            <li>Creating project roadmap, getting customer’s approval, and providing weekly status updates.</li>
            <li>Acting as a Scrum Master and creating the backlog in Jira/Trello (epics, stories).</li>
            <li>Working with the Developers to estimate user stories and plan sprints.</li>
            <li>Scheduling sprints, running sprint demos, backlog grooming and sprint planning activities.</li>
            <li>Responsible for the Scrum rituals (story points, daily scrum, scrum poker, iteration planning, retrospectives).​</li>
         </ul> 
         <p> **Tools used: Trello, Jira, Confluence, Lucidchart, WebEx, WebEx teams, Oracle ERP, Salesforce, DevOps, Microsoft Package.</p>
    </div>      
  </div>
</div>

    <div class="row" id="reviewcard">
       <div class="col-6" id="imgg">
        <%# <%= cl_image_tag("https://res.cloudinary.com/dekvy8qc4/image/upload/v1605004464/Leena2_kpd19g.webp", width: 300, height: 300) %>
        <img src= "https://res.cloudinary.com/dekvy8qc4/image/upload/v1605075253/oracle_logo_wmb6ul.png", height="91", width="91">
       </div>
        <div class="col-6" id="textt">
       
        <p class='mb-4 text-white pt-5' ><b>Leena, MBA, PMP, SCM</b>
         Product manager with 10+ years of experience discovering, executing and delivering software (SaaS, PaaS), mobile and web products.

          Expert level knowledge of Agile methodology (SCRUM, KANBAN) and SDLC. Expert level knowledge of product management tools such as Jira, Confluence and Trello.

          Worked for international companies such as (IBM, Oracle and CISCO), thus exposed to global networking opportunities,  international trainings and innovative technologies. Able to adapt depending on product needs, can act as a product manager, project manager, SCRUM master, product owner.

          Experienced with IBM DevOps approach to agile software development that developers and operations teams use to build, test, deploy and monitor applications with speed, quality and control.

          Common use cases include: cloud-native and mobile applications, application integration, and multicloud management.

          Long experience working with graphic designers and developers using Adobe xD, Java, API's, integration technologies and SQL.

          Experienced in interviewing customers, collecting requirements, creating product wireframes (using Balsamiq) and user flows (using LucidCharts).

          Lifelong learner - constantly acquiring technical skills via Coursera and Udemy and improving communication and leadership skills at networking events.</b></p>
        <p class="mb-4 text-white pt-3 pb-1">Passionate about technology and business!</p>
        
      </div>
    </div>
  

    <div class="row" id="reviewcard">
       <div class="col-6" id="imgg">
        <%# <%= cl_image_tag("https://res.cloudinary.com/dekvy8qc4/image/upload/v1605004464/Leena2_kpd19g.webp", width: 300, height: 300) %>
        <img src= "https://res.cloudinary.com/dekvy8qc4/image/upload/v1605075242/IBM_logo_fblfcs.jpg", height="68", width="90">
       </div>
        <div class="col-6" id="textt">
       
        <p class='mb-4 text-white pt-5' ><b>Leena, MBA, PMP, SCM</b>
         Product manager with 10+ years of experience discovering, executing and delivering software (SaaS, PaaS), mobile and web products.

          Expert level knowledge of Agile methodology (SCRUM, KANBAN) and SDLC. Expert level knowledge of product management tools such as Jira, Confluence and Trello.

          Worked for international companies such as (IBM, Oracle and CISCO), thus exposed to global networking opportunities,  international trainings and innovative technologies. Able to adapt depending on product needs, can act as a product manager, project manager, SCRUM master, product owner.

          Experienced with IBM DevOps approach to agile software development that developers and operations teams use to build, test, deploy and monitor applications with speed, quality and control.

          Common use cases include: cloud-native and mobile applications, application integration, and multicloud management.

          Long experience working with graphic designers and developers using Adobe xD, Java, API's, integration technologies and SQL.

          Experienced in interviewing customers, collecting requirements, creating product wireframes (using Balsamiq) and user flows (using LucidCharts).

          Lifelong learner - constantly acquiring technical skills via Coursera and Udemy and improving communication and leadership skills at networking events.</b></p>
        <p class="mb-4 text-white pt-3 pb-1">Passionate about technology and business!</p>
        
      </div>
    </div>
 


    <div class="row" id="reviewcard">
       <div class="col-6" id="imgg">
        <%# <%= cl_image_tag("https://res.cloudinary.com/dekvy8qc4/image/upload/v1605004464/Leena2_kpd19g.webp", width: 300, height: 300) %>
        <img src= "https://res.cloudinary.com/dekvy8qc4/image/upload/v1605075242/IBM_logo_fblfcs.jpg", height="68", width="90">
       </div>
        <div class="col-6" id="textt">
       
        <p class='mb-4 text-white pt-5' ><b>Leena, MBA, PMP, SCM</b>
         Product manager with 10+ years of experience discovering, executing and delivering software (SaaS, PaaS), mobile and web products.

          Expert level knowledge of Agile methodology (SCRUM, KANBAN) and SDLC. Expert level knowledge of product management tools such as Jira, Confluence and Trello.

          Worked for international companies such as (IBM, Oracle and CISCO), thus exposed to global networking opportunities,  international trainings and innovative technologies. Able to adapt depending on product needs, can act as a product manager, project manager, SCRUM master, product owner.

          Experienced with IBM DevOps approach to agile software development that developers and operations teams use to build, test, deploy and monitor applications with speed, quality and control.

          Common use cases include: cloud-native and mobile applications, application integration, and multicloud management.

          Long experience working with graphic designers and developers using Adobe xD, Java, API's, integration technologies and SQL.

          Experienced in interviewing customers, collecting requirements, creating product wireframes (using Balsamiq) and user flows (using LucidCharts).

          Lifelong learner - constantly acquiring technical skills via Coursera and Udemy and improving communication and leadership skills at networking events.</b></p>
        <p class="mb-4 text-white pt-3 pb-1">Passionate about technology and business!</p>
        
      </div>
    </div>
  

    <div class="row" id="reviewcard">
       <div class="col-6" id="imgg">
        <%# <%= cl_image_tag("https://res.cloudinary.com/dekvy8qc4/image/upload/v1605004464/Leena2_kpd19g.webp", width: 300, height: 300) %>
        <img src= "https://res.cloudinary.com/dekvy8qc4/image/upload/v1605075242/IBM_logo_fblfcs.jpg", height="68", width="90">
       </div>
        <div class="col-6" id="textt">
       
        <p class='mb-4 text-white pt-5' ><b>Leena, MBA, PMP, SCM</b>
         Product manager with 10+ years of experience discovering, executing and delivering software (SaaS, PaaS), mobile and web products.

          Expert level knowledge of Agile methodology (SCRUM, KANBAN) and SDLC. Expert level knowledge of product management tools such as Jira, Confluence and Trello.

          Worked for international companies such as (IBM, Oracle and CISCO), thus exposed to global networking opportunities,  international trainings and innovative technologies. Able to adapt depending on product needs, can act as a product manager, project manager, SCRUM master, product owner.

          Experienced with IBM DevOps approach to agile software development that developers and operations teams use to build, test, deploy and monitor applications with speed, quality and control.

          Common use cases include: cloud-native and mobile applications, application integration, and multicloud management.

          Long experience working with graphic designers and developers using Adobe xD, Java, API's, integration technologies and SQL.

          Experienced in interviewing customers, collecting requirements, creating product wireframes (using Balsamiq) and user flows (using LucidCharts).

          Lifelong learner - constantly acquiring technical skills via Coursera and Udemy and improving communication and leadership skills at networking events.</b></p>
        <p class="mb-4 text-white pt-3 pb-1">Passionate about technology and business!</p>
        
      </div>
    </div>
 

    <div class="row" id="reviewcard">
       <div class="col-6" id="imgg">
        <%# <%= cl_image_tag("https://res.cloudinary.com/dekvy8qc4/image/upload/v1605004464/Leena2_kpd19g.webp", width: 300, height: 300) %>
        <img src= "https://res.cloudinary.com/dekvy8qc4/image/upload/v1605075242/mannai_logo_ythbeb.jpg", height="54", width="94">
       </div>
        <div class="col-6" id="textt">
       
        <p class='mb-4 text-white pt-5' ><b>Leena, MBA, PMP, SCM</b>
         Product manager with 10+ years of experience discovering, executing and delivering software (SaaS, PaaS), mobile and web products.

          Expert level knowledge of Agile methodology (SCRUM, KANBAN) and SDLC. Expert level knowledge of product management tools such as Jira, Confluence and Trello.

          Worked for international companies such as (IBM, Oracle and CISCO), thus exposed to global networking opportunities,  international trainings and innovative technologies. Able to adapt depending on product needs, can act as a product manager, project manager, SCRUM master, product owner.

          Experienced with IBM DevOps approach to agile software development that developers and operations teams use to build, test, deploy and monitor applications with speed, quality and control.

          Common use cases include: cloud-native and mobile applications, application integration, and multicloud management.

          Long experience working with graphic designers and developers using Adobe xD, Java, API's, integration technologies and SQL.

          Experienced in interviewing customers, collecting requirements, creating product wireframes (using Balsamiq) and user flows (using LucidCharts).

          Lifelong learner - constantly acquiring technical skills via Coursera and Udemy and improving communication and leadership skills at networking events.</b></p>
        <p class="mb-4 text-white pt-3 pb-1">Passionate about technology and business!</p>
        
      </div>
    </div>
  </div>
</div>